/*
==============
CSS for - TEMPO.CO New Site
Muhammad Adam Firdaus 2017
http://www.muhammadadamfirdaus.com/
==============
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, section {
	display: block;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body, p, span {
	font-family: 'RobotoDraft', 'HelveticaNeueW01-45Light', Helvetica, Arial;
	font-weight: 400;
	letter-spacing: 0.01em;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

img {
	display:block;
	width: 100%;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'RobotoDraft', 'HelveticaNeueW01-55Roman', Helvetica, Arial;
	font-weight: 500;
	letter-spacing: 0.01em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size:32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:20px;
}

h5 {
	font-size:16px;
}

h6 {
	font-size:14px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
	min-height:100%;
  margin: 0 auto;
	position:relative;
}

.col {
  float: left;
}

.w-30 {
	width: 33.3%;
}

.w-50 {
  width: 50%;
}

.w-70 {
	width: 66.7%;
}

.h-50 {
	height: 50px;
}

.desktop.active,
.mobile.active,
.newsflash {
	display: block;
}

.desktop,
.mobile,
.logo-tempo span {
	display: none;
}

footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

.preload {
	width:100%;
	height:100%;
	position:absolute;
	background:rgba(0,0,0,0.8);
	z-index: 10;
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.swiper-container.tempo-2017-tutorial {
	width: 100%;
	height: 400px;
	position: relative;
}

.swiper-container.tempo-2017-tutorial .swiper-pagination {
	position: absolute;
	bottom: 0;
}

/* fonts */
@font-face {
  font-family: 'Helvetica';
	src:	url('https://cdn.tmpo.co/css/fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/Helvetica.otf')  format('opentype'),
				url('https://cdn.tmpo.co/css/fonts/Helvetica.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/Helvetica.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueW01-45Light';
	src:	url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-45Light.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-45Light.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-45Light.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-45Light.svg#HelveticaNeueW01-45Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueW01-55Roman';
	src:	url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-55Roman.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-55Roman.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-55Roman.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-55Roman.svg#HelveticaNeueW01-55Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
	src:	url('https://cdn.tmpo.co/css/fonts/Impact.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/Impact.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/Impact.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/Impact.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NativeLand';
	src:	url('https://cdn.tmpo.co/css/fonts/NativeLand.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/NativeLand.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/NativeLand.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/NativeLand.svg#NativeLand') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
	src:	url('https://cdn.tmpo.co/css/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/Poppins-Light.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/Poppins-Light.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/Poppins-Light.svg#Poppins-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 100;
  src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), url(fonts/RobotoDraft-100.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 300;
  src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url(fonts/RobotoDraft-300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(fonts/RobotoDraft-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(fonts/RobotoDraft-500.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto-Light';
  src:	url('https://cdn.tmpo.co/css/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Light.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Light.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src:	url('https://cdn.tmpo.co/css/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Bold.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Bold.ttf') format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* colors */
.red-500 {
	background-color: rgba(244,67,54,1);
	color: #fff;
}

.amber-700 {
	background-color: #ffa000;
	color: #fff;
}

.red-sky {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d32f2f+0,5674b9+100 */
	background: rgb(211,47,47); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(211,47,47,1) 0%, rgba(86,116,185,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(211,47,47,1) 0%,rgba(86,116,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(211,47,47,1) 0%,rgba(86,116,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d32f2f', endColorstr='#5674b9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #fff;
}

.green-diagonal-75 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004d40+0,26a69a+100 */
	background: rgb(0,77,64); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(0,77,64,1) 0%, rgba(38,166,154,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(0,77,64,1) 0%,rgba(38,166,154,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(0,77,64,1) 0%,rgba(38,166,154,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d40', endColorstr='#26a69a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #fff;
}

hr {
	border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.right {
	float: right;
}

/* mulai dari bawah ini */
.container-desktop {
  width: 1064px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 20px;
}

header {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  position: relative;
	background: #ffffff;
}

.header-top {
  display: block;
  color: #ffffff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7e57c2+0,42a5f5+50,1de9b6+100 */
  background: rgb(126,87,194); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(126,87,194,1) 0%, rgba(66,165,245,1) 50%, rgba(29,233,182,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(126,87,194,1) 0%,rgba(66,165,245,1) 50%,rgba(29,233,182,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(126,87,194,1) 0%,rgba(66,165,245,1) 50%,rgba(29,233,182,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e57c2', endColorstr='#1de9b6',GradientType=1 ); /* IE6-9 */
  width: 100%;
  height: 30px;
}

.header-top span.date {
	line-height: 30px;
}

span.date,
span.time {
  font-family: 'RobotoDraft', Helvetica, Arial;
  font-size: 10px;
	font-weight: 300;
  line-height: 12px;
  letter-spacing: 0.01em;
}

.header-main {
  display: table;
  height: 100px;
  padding-top: 0px; /* default 15px */
  position: relative;
}

.header-main > div {
  display: table-cell;
  vertical-align: middle;
}

.logo-tempo {
  display: inline-block;
	vertical-align: middle;
  width: 30%;
  height: 30px;
  line-height: 30px;
  background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
  background-size: 235%;
	margin-left: 5px;
	position: relative;
}

.logo-tempo:after {
	content: 'beta';
	color: rgba(244,67,54,1);
	position: absolute;
	right: -3px;
	top: -25px;
	font-size: 12px;
	letter-spacing: 0.6em;
	text-transform: uppercase;
}

.newsflash h2.col {
	display: inline-block;
	text-transform: uppercase;
	color: #e53935;
	border: 1px solid #e53935;
	padding: 6px 12px;
	margin-right: 20px;
	font-size: 10px;
	letter-spacing: 1.3px;
	font-family: "RobotoDraft", Helvetica, Arial;
	font-weight: 300;
}

.swiper-container.head-focus {
	height: 20px;
}

.head-focus .swiper-slide a {
	text-decoration: none;
	color: #000;
	display: block;
}

.head-focus .swiper-slide h2 {
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
}

.header-bottom {
  background: #f9f8f7;
}

/* SEARCH */

#search {
	display:table-cell;
}

.search {
	float:right;
	position:relative;
}

.search a {
	content:'';
	background: url(../images/sprites.png) no-repeat;
	background-position: 0 -30px;
	background-size: 195px;
	display: inline-block;
	width: 16px;
	height: 16px;
	position:absolute;
	left: 5%;
	top: 5px;
}

.search input {
	background: none;
	border: 0;
	border-bottom: 1px solid #fff;
	color:#fff;
	height: 25px;
	line-height: 25px;
	padding: 10px 0 10px 40px;
	transition: padding-right 1s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

.search input::-webkit-input-placeholder {
   color: #fff;
}

.search input::-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

.search input::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

.search input::-ms-input-placeholder {
   color: #fff;
}

.search input::-webkit-search-cancel-button /* ngilangin close button */ {
	display:none;
}

.search input[type="search"] {
	outline: none;
}

.search input[type="search"]:focus {
	padding-right: 10%;
	transition: padding-right 1s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	/*box-shadow: 0px 0px 6px 3px rgba(255,255,255,0.3);*/
}

/* end SEARCH */

/* begin MENU */
nav {
	box-sizing: border-box;
	list-style: none;
}

.menu div:before {
	content:'';
	/*border-top:1px solid #fff;*/
	display: block;
}

.menu li {
	float:left;
	position:relative;
	line-height: 35px;
	height:40px;
	padding:0 6px;
}

.menu li:last-child {
	padding-right: 0;
}

.menu li:nth-of-type(1),
.menu li:nth-of-type(1) a {
	padding-left: 0;
}

.menu li.addon {
	display: none;
}

.menu li a {
	color: #aaa;
	font-family: 'RobotoDraft', Helvetica, Arial;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-decoration:none;
	text-transform:uppercase;
}

.menu li a {
	padding:10px 5px;
}

.menu li:nth-child(2) {
	padding-left:0;
}

.menu li a:hover {
	color:#ccc;
	-moz-transition: background-color 1.5s ease-out;
	-webkit-transition: background-color 1.5s ease-out;
	-o-transition: background-color 1.5s ease-out;
	transition: background-color 1.5s ease-out;
}

.menu li ul {
	visibility: hidden;
	position: absolute;
	opacity: 0;
	-webkit-transform: translate3d(0, -4px, 0);
	transform: translate3d(0, -4px, 0);
	transition: all 0.5s ease;
	z-index: 2;
}

.menu li.sub-menu-active ul {
	visibility: visible;
	position: absolute;
	opacity: 1;
	-webkit-transform: translate3d(0, 3px, 0);
	transform: translate3d(0, 3px, 0);
	transition: all 0.5s ease;
}

.menu li.sub:before {
	top: 8px;
	right: 4px;
}

.menu ul li {
	display:block;
	z-index: 5;
	width: 165px;
	padding: 0;
	line-height: 40px;
	background: rgba(0,0,0,0.85);
}

.menu ul li a {
	display:block;
	padding:0 15px;
}

.menu li ul li:first-child a {
	display:block;
	padding:0 15px;
}

.menu li ul li a:hover {
	color:rgba(255,255,255,0.75);
}

.menu-mobile,
main .navigation {
	display:none;
}
/* end MENU */

/* sticky */

.sticky {
	position: fixed;
}

.sticky.sticky-header,
.sticky.sticky-r3,
.sticky.lepas,
.sticky.tab-pagination {
	top: 0;
}

.sticky-header {
	width: 100%;
	height: 44px;
	z-index: 9;
	-webkit-animation: bounce-down 0.5s forwards;
	animation: bounce-down 0.5s forwards;
}

.sticky-header .header-top {
	height: 5px;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.sticky-header .header-top .w-50 {
	height: 0;
}

.sticky-header .header-main {
	position: absolute;
}

.sticky-header .header-main .logo-tempo,
.sticky-header .header-main .newsflash {
	opacity: 0;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.sticky-header .header-bottom .menu {
	background: #fff;
}

.sticky-header .search {
	display: none;
}

.sticky-r3 {
	width: 344px;
	-webkit-animation: bounce-down 0.5s forwards;
	animation: bounce-down 0.5s forwards;
}

.sticky.lepas {
	width: 344px;
	opacity: 0;
	-webkit-transform: translate3d(0, -200px, 0);
	transform: translate3d(0, -200px, 0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.sticky.tab-pagination {
	background: #ffffff;
	margin-top: 45px;
	margin-bottom: 45px;
	width: 558px;
	z-index: 1;
	-webkit-animation: bounce-down 0.5s forwards;
	animation: bounce-down 0.5s forwards;
}

.sticky #search.w-50 {
	width: 7%;
}

.sticky .search a {
	background-position: -15px -30px;
	position: relative;
}

.sticky #search form {
	line-height: 35px;
}

.sticky .search input {
	border-bottom: 1px solid #ddd;
	color: #555;
	opacity: 0;
	width: 0;
	transition: translate3d(-50px, 0, 0);
}

.sticky-search #search.w-50 {
	width: 200px;
}

.sticky-search .search input {
	opacity: 1;
	width: 80%;
}

.sticky-search .menu li {
	padding: 0 5px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.sticky-search .menu li a {
	font-size: 10px;
}

.sticky.survey-front {
	bottom: 50%;
	left: 0;
}

.sticky.survey-front.active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* survey front container */
.survey-front {
	background: #fff;
	box-shadow: 0px 0 20px rgba(0,0,0,0.35);
	width: 280px;
	height: 160px;
	z-index: 2;
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.survey-front * {
	display: block;
}

.survey-front a {
	display: inline-block;
	padding: 10px 0;
}

.survey-front a * {
	color: #000;
	padding: 0 10px;
}

.survey-front h4 {
	font-size: 16px;
	margin-bottom: 10px;
}

.survey-front p {
	font-size: 12px;
}

/* end survey front container */

@-webkit-keyframes bounce-down {
	0% {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bounce-down {
	0% {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes bounce-up {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}
}

@keyframes bounce-up {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}
}


/* ads */
.ads {
	margin: 0 auto;
	position: relative;
	/*background-color: #ccc;*/
}

.ads .wrapper {
	padding: 0;
}

/* premium head */
.ads.premium-head {
	width: 970px;
	margin: 10px auto;
}

.ads.premium-head .premium-head-small {
	height: 90px;
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.8s ease;
	transition: transform 0.8s ease;
}

.ads.premium-head .premium-head-big {
	height: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.ads.premium-head .premium-head-small.deactive {
	height: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate3d(0, -25px, 0);
	transform: translate3d(0, -25px, 0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ads.premium-head .premium-head-big.active {
	height: 250px;
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ads.premium-head .wrapper {
	padding: 0;
}

/* billboard */
.ads.billboard {
	width: 728px;
	height: 90px;
}

.ads.rectangle.r3 {
	background: none;
}

/* bottom ads desktop */
.bottom-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

.bottom-banner .container-desktop,
.tab,
.tab .tab-content,
#category .features figure,
.list-type-3 li:nth-of-type(1) {
	position: relative;
}

.bottom-banner .container-desktop button {
	width: 28px;
	height: 28px;
	background: #e53935;
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 5px;
	position: absolute;
	right: 0;
	top: -28px;
	text-align: center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0;
}

.bottom-banner .h-50 {
	height: 50px;
}

.bottom-banner a {
	display: block;
	width: 1064px;
	margin: 0 auto;
	-webkit-transform: -webkit-translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.bottom-banner-closed {
	-webkit-transform: -webkit-translate3d(0, 100px, 0);
	transform: translate3d(0, 100px, 0);
	transition: transform 0.5s ease-out;
}

/* popup ads */
.popup-ads {
	opacity: 0;
	visibility: hidden;
	position: relative;
}

.popup-ads.active {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.popup-ads button {
	position: absolute;
	right: 0;
	top: -30px;
	font-size: 20px;
	width: 30px;
	height: 30px;
	padding-bottom: 10px;
	border: 0;
	background: #e53935;
	color: #fff;
	border-radius: 50%;
}

.popup-ads button::before {
	right: 10px;
}

.popup-ads {
	width: 640px;
	height: 480px;
	z-index: 9999;
	position:fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
	/*background: rgba(255, 255, 255, 0.5);*/
}

.popup-ads a {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.popup-ads.popup-ads-closed {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-out;
}

/* sponsor headline */
#headline.headline-mobile-terbaru .swiper-slide .sponsor-headline h3 {
	background: #e53935;
	border: 1px solid #e53935;
}

/* ads zoom */
figure#ads-zoom a {
	width: auto;
	height: auto;
}

.ads.r-600 {
	margin-bottom: 30px;
	height: 600px;
}

.ads.r-600 a {
	display: block;
}

.ads.r-600 #ads-zoom {
	background: url(../images/ads-zoom/bg-oppo.jpg) no-repeat;
	display: table;
	width: 100%;
	height: 600px;
}

#zoom-area.zoom-area {
	background: url(../images/ads-zoom/oppo.png) no-repeat;
	background-position: center;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

#ads-screen {
	width: 166px;
	height: 284px;
	margin: 0 auto;
	overflow: hidden;
}

/* end ads */

/* features */

#headline.headline-mobile-terbaru .swiper-slide .live:before {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position: absolute;
	left: 20px;
	top: 8px;
	-webkit-animation: live 1s ease infinite;
	animation: live 1s ease infinite;
}

@-webkit-keyframes live {
	0% {
		background-color: rgba(229, 57, 53, 1);
	}

	100% {
		background-color: rgba(229, 57, 53, 0);
	}
}

@keyframes live {
	0% {
		background-color: rgba(229, 57, 53, 1);
	}

	100% {
		background-color: rgba(229, 57, 53, 0);
	}
}

#headline.headline-mobile-terbaru .swiper-slide a.live h3 {
	padding-left: 20px;
	border: 1px solid #e53935;
	color: #e53935;
}

/* end features */

section li {
	list-style: none;
}

/* title-box */
.box-title {
	width: 140px; /* default 160px */
	height: 32px;
	line-height: 32px;
	letter-spacing: 0.12em;
	display: block;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
}

.selengkapnya {
	border: 1px solid rgba(244,67,54,1);
	color: rgba(244,67,54,1);
	margin: 0 auto;
}
/* title box */

.bbc-indonesia .box-title {
	background: url(../images/logo-bbc-indonesia.png) no-repeat;
}

#category .tab-pagination {
	border-bottom: 1px solid #e53935;
}

#category .tab-pagination.pagination {
	border-bottom: none;
}

.list.list-type-1.bbc-indonesia li:nth-of-type(1) {
	border-top: 1px solid #9a0000;
}

.australia-plus .box-title {
	background: url(../images/logo-australia-plus.png) no-repeat;
}

.list.list-type-1.australia-plus li:nth-of-type(1) {
	border-top: 1px solid #269218;
}

.list .card-type-1 a:nth-of-type(1) img,
.tab .tab-content-slide a:nth-of-type(1) img,
.card-type-3 a:nth-of-type(1) img,
/*.widget-article img,*/
#section-3 .col li img,
#article #section-3 .col li img,
#section-4 .foto-home.swiper-container .card-type-5 img,
.video.tab-type-2 .tab-content-slide li:nth-of-type(2) img,
#category .tab-type-3 .tab-content-slide li img {
	width: auto;
	height: 100%;
	display: block;
	position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

/* headline */
#headline.headline-mobile-terbaru {
	background: #fefefe;
}

#headline.headline-mobile-terbaru .swiper-slide h2 {
	letter-spacing: 0.03em;
	padding: 10px 0;
}

#headline.headline-mobile-terbaru .swiper-slide h3 {
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid #ffffff;
	padding: 6px 12px;
}

#headline.headline-mobile-terbaru .swiper-slide figcaption,
#section-4 .foto-home.swiper-container .swiper-slide figcaption {
	position: absolute;
	bottom: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	width: 100%;
}

#section-4 .foto-home.swiper-container .swiper-slide figcaption {
	height: 40%;
}

#headline figcaption a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0 13px;
}
/* end headline */

.card .wrapper {
	background: none;
}

#headline,
.tab .tab-content,
#update,
.billboard,
.rectangle,
#section-2,
#berita-pilihan,
.w-30 .terpopuler,
#article #section-3 {
	margin-bottom: 30px;
}

main {
	padding-bottom: 30%;
}

main section > .w-70,
main article {
	width: 728px;
}

main section > .w-30 {
	width: 336px;
}

main#category section > .w-70 {
	width: 70%;
}

main#category section > .w-30 {
	width: 30%;
}

main section .w-30 .wrapper {
	padding: 0 0 0 34px;
}

main#category section .w-30 .wrapper {
	padding: 0 0 0 18px;
}

main section > .w-30 .wrapper .wrapper {
	padding: initial;
}

/* tab */
/* core tab */
.tab .wrapper {
	padding: 0 0 0 5px;
	position: relative;
}

.tab .tab-pagination {
	height: 32px;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}

.video .tab-pagination {
	border-color: #5674B9;
}


.terpopuler .tab-pagination,
.bola .tab-pagination {
	border-color: rgba(229,57,53,1);
}

/*.tekno .tab-pagination {
	border-color: #004d40;
}*/

/*#category .tab .tab-pagination {
	background: #f3f3f3;
}

#category .tab .tab-pagination .col:last-child {
	float: none;
	text-align: left;
}

#category .tab .tab-pagination a {
	font-size: 10px;
	letter-spacing: 0.1em;
	padding: 0 15px;
	text-transform: uppercase;
}

#category .tab .tab-pagination a:hover {
	background: #ccc;
	height: 31px;
}

#category .tab .tab-pagination a.red-500 {
	color: #ffffff;
}*/

.tab .tab-pagination .col:last-child {
	float: right;
	text-align: right;
}

.tab .tab-pagination .col:last-child a:last-child {
	margin: 0;
}

.tab .tab-pagination .col a {
	color: #333;
	display: inline-block;
	font-family: 'RobotoDraft', Helvetica, Arial;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 32px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
}

.tab .tab-pagination a:first-child {
	margin: 0;
}

.tab .tab-pagination .col:last-child > li {
	display: inline-block;
	position: relative;
	text-align: right;
}

/*#category .tab .tab-pagination .col:last-child > li {
	display: block;
	float: left;
}

#category .tab .tab-pagination .col:last-child > li  {
	margin: 0;
}

#category .tab .tab-pagination .col:last-child > li:nth-of-type(1) {
	padding: 0;
}

.tab-type-3.category .w-70 {
	width: auto;
}*/

.tab .tab-pagination .sub-tab {
	z-index: 2;
}

.tab .tab-pagination .sub-tab:before,
.menu li.sub:before {
	content: '';
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	background-size: 4px 23px;
	width: 4px;
	height: 23px;
	position: absolute;
}

.tab .tab-pagination .sub-tab:before {
	top: 5px;
	right: -3px;
}

/*#category .tab .tab-pagination .sub-tab:before {
	right: 5px;
}*/

.tab .tab-pagination .sub-tab ul {
	background: rgba(0,0,0,0.9);
	position: absolute;
	width: 160px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-align: left;
}

.tab .tab-pagination .sub-tab ul li {
	padding: 2px 0;
	display: block;
}

.tab .tab-pagination .sub-tab ul li a {
	color: #fff;
	padding-left: 12px;
}

.tab .tab-pagination .sub-tab.sub-tab-active ul {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.tab .tab-content-slide > li,
.video.tab-type-2 .tab-content-slide li:nth-of-type(2),
#category .video.tab-type-2 .tab-content-slide li:nth-of-type(1) {
	float: left;
	margin-bottom: 10px;
	width: 50%;
}

.tab-type-3 .tab-content-slide > li {
	float: none;
	width: 100%;
}

.tab .tab-content-slide li:last-child {
	margin-bottom: 0;
}

.tab .tab-content-slide li:nth-of-type(1) p {
	letter-spacing: 0.01em;
	margin: 0 0 10px 0;
}

.tab .tab-content-slide li:nth-of-type(1) a:nth-of-type(1) img,
.tab.tab-type-2 .tab-content-slide li:nth-of-type(2) a:nth-of-type(1) img,
#section-3 .col li:nth-of-type(1) a:nth-of-type(1) img,
.video.tab-type-2 .tab-content-slide li:nth-of-type(2) img,
.list.list-type-2 .card-type-1 a:nth-of-type(1) img {
	width: 100%;
	position: static;
	height: auto;
}

.tab-content li a:nth-of-type(2) *,
.tab.tab-type-3 .tab-content li:nth-of-type(1) span {
	margin-left: 10px;
}

/*#category .tab-content li a:nth-of-type(2) * {
	margin: 0 10px 10px 10px;
}*/

.tab-content li:nth-of-type(1) span {
	margin-left: 0;
	font-size: 12px;
}

.tab .tab-content-slide li h2,
.tab .tab-content-slide li p,
#section-3 .card p {
	color: #333;
}

.tab .tab-content-slide li h2 {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.01em;
}

.tab .tab-content-slide li p,
#section-3 .card p,
.video.tab-type-2 .tab-content-slide li:nth-of-type(2) p {
	font-size: 12px;
	line-height: 16px;
}

.tab .tab-content-slide li a:nth-of-type(1),
#section-3 .col li a:nth-of-type(1),
#article #section-3 .col li a:nth-of-type(1) {
	width: 90px;
	height: 90px;
	overflow: hidden;
	position: relative;
}

.tab.tab-type-3 .tab-content-slide li a:nth-of-type(1),
.tab.tab-type-3 .tab-content-slide li:nth-of-type(1) a:nth-of-type(1) {
	width: 140px;
	height: 140px;
}

.tab.tab-type-3 .tab-content-slide li a:nth-of-type(2),
.tab.tab-type-3 .tab-content-slide li:nth-of-type(1) a:nth-of-type(2) {
	width: 590px;
}

.tab .tab-content-slide li a:nth-of-type(2),
#section-3 .col li a:nth-of-type(2),
#article #section-3 .col li a:nth-of-type(2) {
	width: 70%;
}

.tab .tab-content-slide li:nth-of-type(1) a:nth-of-type(2),
.tekno.tab.tab-type-2 .tab-content-slide li:nth-of-type(2) a:nth-of-type(2),
#section-3 li:nth-of-type(1) .card a:nth-of-type(2) {
	width: 100%;
}

.tab-content-slide {
  opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.8s ease;
	transition: opacity 0.8s ease;
	position: absolute;
	top: 0;
	left: 0;
}

.tab .tab-content-slide.selected {
  opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.8s ease;
	transition: opacity 0.8s ease;
}

/* tab type 1 */
.tab-type-1 li:nth-of-type(1) .wrapper,
.tab-type-2 li:nth-of-type(1) .wrapper {
	padding:0 10px 0 0;
}

.tab-type-1 .tab-content,
#section-3 li:nth-of-type(1) {
	min-height: 400px;
}

#article #section-3 li:nth-of-type(1) {
	min-height: auto;
}

.tab-type-1 .tab-content-slide li:first-child {
	float: left;
	min-height: 400px;
}

.tab-type-2 .tab-content-slide li:nth-of-type(1),
.tab-type-2 .tab-content-slide li:nth-of-type(2) {
	float: left;
	min-height: 360px;
}

#category .tab-type-2 .tab-content-slide li:nth-of-type(1) {
	min-height: auto;
}

.tab-type-1 .tab-content-slide li:nth-of-type(1) a:nth-of-type(1),
.video.tab-type-2 .tab-content-slide li:nth-of-type(1) a:nth-of-type(1),
#section-3 .col li:nth-of-type(1) a:nth-of-type(1) {
	width: 100%;
	height: 100%;
}

.tab .tab-content-slide li:nth-of-type(1) h2.title,
.tekno.tab-type-2 .tab-content-slide li:nth-of-type(2) h2.title,
#article #section-3 li:nth-of-type(1) .card h2.title,
#section-3 li:nth-of-type(1) a:nth-of-type(2) h2.title {
	margin: 5% 0;
}

/* tab type 2 */
.tab-type-2 .tab-content {
	min-height: 680px;
}

.video.tab-type-2 .tab-content {
	min-height: 1400px;
}

#category .video.tab-type-2 .tab-content {
	min-height: 640px;
}

.category.tab-type-3 .tab-content {
	min-height: 1500px;
}

.tab-type-2 .tab-content li:nth-of-type(2) a:nth-of-type(2) *,
#section-3 li:nth-of-type(1) .card a:nth-of-type(2) *,
.video.tab-type-2 .tab-content-slide li:nth-of-type(1) a:nth-of-type(2) h2 {
	margin-left: 0;
}

.video.tab-type-2 .tab-content-slide li:nth-of-type(1) {
	width: 100%;
}

.video.tab-type-2 .tab-content-slide li:nth-of-type(2) {
	/*height: 90px;*/
	min-height: auto;
	float: left;
}

.video.tab-type-2 .tab-content-slide li {
	float: left;
}

.video.tab-type-2 li:nth-of-type(2n+1) .wrapper,
#category .video.tab-type-2 li:nth-of-type(2n+2) .wrapper {
	padding-left: 10px;
}

.video.tab-type-2 li:nth-of-type(1) .wrapper,
.video.tab-type-2 li:nth-of-type(2n) .wrapper,

#category .video.tab-type-2 li:nth-of-type(2n+1) .wrapper,
.tab.tab-type-3 .wrapper,
main#category section .w-30 .wrapper li .card .wrapper {
	padding: 0;
}

/* end tab */

.tab .tab-content-slide li:nth-of-type(1) h2.title,
.tekno.tab-type-2 .tab-content-slide li:nth-of-type(2) h2.title,
#section-3 li:nth-of-type(1) a:nth-of-type(2) h2.title,
.video.tab-type-2 .tab-content-slide li h2.title {
	font-size: 16px;
	line-height: 22px;
	height: auto;
	color: #333;
}

.tab.tab-type-3 .tab-content-slide li:nth-of-type(1) a:nth-of-type(2) h2.title,
.tab.tab-type-3 .tab-content-slide li a h2.title {
	font-size: 20px;
	line-height: 26px;
}

.tab .tab-content-slide a,
.card-type-4 h2 {
	color: #333;
	text-decoration: none;
}

.card-type-4 h2 {
	font-size: 14px;
	line-height: 20px;
	height: auto;
	margin: 3% 0;
}

/* indikator */
#indikator {
	margin-bottom: 30px;
}

#indikator h2.title {
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}

.indikator ul {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.indikator ul li{
  color: #AAAAAA;
  position: relative;
  display: inline-block;
	margin-right: 5em;
}

.indikator ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.indikator ul li label{
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  margin: 15px auto 10px;
	padding-left: 50px;
  height: 30px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.indikator ul li:hover label{
	color: #000;
}

.indikator ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #e53935;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  top: 10px;
  left: 0;
	z-index: 1;
	transition: border 0.25s linear;
	-webkit-transition: border 0.25s linear;
}

.indikator ul li:hover .check {
  border: 5px solid #e53935;
	box-shadow: 0px 0px 25px #e53935;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

.indikator ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #e53935;
	background: #e53935;
}

input[type=radio]:checked ~ .check::before{
  background: #e53935;
}

input[type=radio]:checked ~ label{
  color: #e53935;
}

.indikator

/* berita pilihan */
#berita-pilihan .row {
	margin-bottom: 15px;
}

#berita-pilihan .row:last-child {
	margin-bottom: 0;
}

#berita-pilihan .col .wrapper {
	padding: 0;
}

#berita-pilihan li {
	margin-bottom: 10px;
}

#berita-pilihan li .card-type-4 {
	padding-right: 5px;
}

#berita-pilihan li:nth-of-type(3n+0) .card-type-4 {
	padding-right: 0;
}

#berita-pilihan li a:nth-of-type(1) {
	height: 128px;
	overflow: hidden;
}
/* berita pilihan */

.center {
	display: flex;
}

/* button */
a.button {
	cursor: default;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px;
	border: 1px solid #e53935;
	color: #e53935;
	font-size: 12px;
	margin: 10px auto;
}

.swiper-container.content {
	width: 1064px;
}

.pic-zoom img{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	transition: all 1s ease-out;
}

.pic-zoom img:hover {
	-webkit-transform: scale3d(1.2, 1.2, 1.2);
	transform: scale3d(1.2, 1.2, 1.2);
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
	transition: all 0.8s ease;
}

.pic-zoom .swiper-slide:nth-of-type(1) img,
.tab .tab-content-slide li:nth-of-type(1) a:nth-of-type(1) img {
	transition: all 2.5s ease-out;
}

.pic-zoom .swiper-slide:nth-of-type(1) img:hover,
.tab .tab-content-slide li:nth-of-type(1) a:nth-of-type(1) img:hover,
.tab.tab-type-2 .tab-content-slide li:nth-of-type(2) a:nth-of-type(1) img:hover {
	transition: all 5.5s linear;
}

.swiper-container.content > .swiper-wrapper,
#headline.swiper-container .swiper-wrapper {
	display: block;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide:nth-of-type(1) {
	width: 50%;
	height: 290px;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide:nth-of-type(1) .wrapper {
	/*padding: 0 5px 0 0;*/
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide {
	width: 25%;
	height: 145px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
	float: left;
	overflow: hidden;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide h2 {
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 18px;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide h3 {
	font-size: 11px;
	font-weight: 400;
	padding: 4px 10px;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide:nth-of-type(1) h2 {
	font-size: 18px;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide:nth-of-type(1) h3 {
	font-size: 13px;
}

#headline .swiper-pagination {
	display: none;
}

#headline .swiper-slide a:nth-of-type(1) {
	overflow: hidden;
	display: block;
}

.terpopuler.col {
	float: left;
}

/* update terbaru desktop */
.list li {
	margin-bottom: 10px;
}

.list.list-type-1 li:nth-of-type(1),
.list.list-type-2 li:nth-of-type(-n+2) {
	border-top: 1px solid #e53935;
	padding-top: 10px;
}

.list.list-type-1.terpopuler li:nth-of-type(1) {
	padding-top: 20px;
}

.list.list-type-2.tempo-channel li:nth-of-type(-n+2) {
	border-top: 1px solid #ffa000;
}

.list li:last-child {
	margin-bottom: 0;
}

.list li:nth-of-type(1).wrapper {
	border-top: 1px solid #f44336;
	padding-top: 10px;
}

.list li a {
	display: inline-block;
	position: relative;
}

.list.list-type-1 li a:nth-of-type(1) {
	width: 90px;
	height: 90px;
	overflow: hidden;
}

.list.list-type-2 li a:nth-of-type(1) {
	width: 100%;
	height: 80px;
	overflow: hidden;
}

.list.list-type-2 li {
	width: 50%;
	float: left;
}

.list.list-type-2 li:nth-child(2n+1) .wrapper {
	padding-left: 5px;
}

.list.list-type-2 li:nth-child(2n+2) .wrapper {
	padding-right: 5px;
}

.list li.wrapper {
	padding: 0;
}

.list.list-type-1 li a:nth-of-type(2) {
	width: 65%;
}

.list.list-type-1 li a:nth-of-type(2) *,
#section-3 li .card a:nth-of-type(2) *,
#article #section-3 li .card a:nth-of-type(2) * {
	margin-left: 10px;
}

#article #section-3 li:nth-of-type(1) .card h2.title {
	margin: 0 0 0 10px;
}

.list li a:nth-of-type(2) h2.title,
.tab .tab-content-slide li h2.title,
.list.list-type-2 li a:nth-of-type(2) h2.title,
#section-3 li .card h2.title,
.terpopuler.list li a:nth-of-type(2) h2.title,
.tab.tab-type-3 .tab-content .tab-content-slide li h2.title {
	display: inline-block;
	color: #333;
	width: 100%;
	height: 65px;
	overflow: hidden;
	margin-bottom: 5px;
}

.tab.tab-type-3 .tab-content-slide li:nth-of-type(1) h2.title,
.tab.tab-type-3 .tab-content-slide li h2.title {
	margin: 0 0 5px 18px;
}

.list.list-type-2 li a:nth-of-type(2) h2.title {
	height: auto;
}

.list li a:nth-of-type(2) h2.title,
.list.list-type-2 li a:nth-of-type(2) h2.title,
#section-3 li .card h2.title,
#article #section-3 li .card h2.title {
	font-size: 13px;
	line-height: 18px;
}

.list.terpopuler li a:nth-of-type(2) h2.title {
	font-size: 16px;
	line-height: 22px;
}

.tab .tab-content-slide li h2.title {
	font-size: 14px;
	line-height: 19px;
}

.list.list-type-2 li a:nth-of-type(2) h2.title {
	margin: 5% 0;
	height: 55px;
	overflow: hidden;
}

.tab-content-slide li span,
.list li a:nth-of-type(2) span,
.tab-content li:nth-of-type(1) span {
	font-size: 10px;
	color: #666;
}
/* end update terbaru desktop */

.list-type-3 li:nth-of-type(1):before {
	content: '';
	background: #e53935;
	width: 100%;
	height: 1px;
	position: absolute;
	top: -10px;
}

.list-type-3 li {
	margin: 5px 0;
	padding: 10px 0;
	background: #eee;
}

.list-type-3 li:nth-of-type(1) {
	margin-top: 10px;
}

.list-type-3 li a {
	color: #333;
	padding-left: 10px;
}

#indikator .row:nth-of-type(1),
#berita-pilihan .row:nth-of-type(1),
#section-3 li:nth-of-type(1),
#article #section-3 li:nth-of-type(1) {
	border-top: 1px solid #f44336;
	padding-top: 10px;
}

#section-3 .wrapper {
	padding: 0;
}

#section-3 .col > .wrapper {
	padding: 0 7.5px;
}

#article #section-3 .col:last-child > .wrapper:nth-of-type(1),
#section-3 .col:first-child .wrapper {
	padding: 0 15px 0 0;
}

#section-3 .col:last-child > .wrapper:nth-of-type(1) {
	padding: 0 0 0 15px;
}

#section-3 .col:first-child .wrapper .wrapper {
	padding: 0;
}

#section-3 li {
	margin-bottom: 10px;
}

#section-3 li:last-child {
	margin-bottom: 0;
}

#section-3 .card span {
	color: #333;
	font-size: 10px;
}

#section-4 {
	margin: 4% 0;
}

#section-4 .foto-home.swiper-container {
	width: 100%;
	padding: 50px 0;
	background: #000;
}

#section-4 .foto-home.swiper-container .container-desktop > h2:nth-of-type(1) {
	color: #fff;
	font-family: 'Poppins-Light', Helvetica, Arial;
	font-size: 12px;
	letter-spacing: 4.6px;
	text-transform: uppercase;
	margin: 0 0 25px 25px;
	position: relative;
}

#section-4 .foto-home.swiper-container .container-desktop > h2:nth-of-type(1):after {
	border: 0;
	content: '';
	position: absolute;
	left: -50px;
	top: 22px;
	width: 20%;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

#category #section-4 .foto-home.swiper-container .container-desktop > h2:nth-of-type(1):after {
	content: '';
	background-image: none;
}

#section-4 .foto-home.swiper-container .swiper-slide {
	background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

#section-4 .foto-home.swiper-container .swiper-button-next,
#section-4 .foto-home.swiper-container .swiper-button-prev {
	color: #ff0000;
}

#section-4 .foto-home.swiper-container .card-type-5 .wrapper {
	padding: 0;
	position: relative;
}

#section-4 .foto-home.swiper-container .card-type-5 a:nth-of-type(1).col {
	display: block;
	width: 300px;
	height: 300px;
	overflow: hidden;
	color: #fff;
	position: relative;
}

#section-4 .foto-home.swiper-container .card-type-5 figcaption a * {
	display: block;
	padding: 0 10px;
}

#section-4 .foto-home.swiper-container .card-type-5 figcaption h2.title {
	color: #fff;
	font-size: 16px;
	position: absolute;
	bottom: 30px;
}

#section-4 .foto-home.swiper-container .card-type-5 figcaption span {
	font-size: 10px;
	/*margin: 10% 0;*/
	color: #fff;
	position: absolute;
	bottom: 10px;
}

.pswp h2.title {
	color: #fff;
	display: block;
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 2%;
}

.pswp span.time {
	color: #fff;
	padding-bottom: 10%;
}

#gallery #section-4 {
	margin-top: 1em;
}

#gallery .pswp__caption__center {
	max-width: 728px;
}

#gallery .foto-home .container-desktop {
	margin-bottom: 5%;
}

/* video */

#category h1 {
	margin-bottom: 15px;
}

#category .features{
	box-sizing: border-box;
	list-style: none;
}

#category section.features,
#trending.list-type-3 {
	margin-bottom: 30px;
}

.tekno.tab-type-2 .tab-content-slide li:nth-of-type(1) a:nth-of-type(1),
.tekno.tab-type-2 .tab-content-slide li:nth-of-type(2) a:nth-of-type(1),
.video.tab .tab-content-slide li a,
#category .card-type-5 figcaption a {
	width: 100%;
}

.tekno.tab-type-2 .tab-content-slide li:nth-of-type(1) a:nth-of-type(1),
.tekno.tab-type-2 .tab-content-slide li:nth-of-type(2) a:nth-of-type(1),
.video.tab .tab-content-slide li a:nth-of-type(1),
#category .video.tab-type-2 .tab-content-slide li:nth-of-type(1) a:nth-of-type(1),
#category .card-type-5 a:nth-of-type(1) {
	height: 180px;
	overflow: hidden;
}

#category .features .card-type-5 a:nth-of-type(1) {
	height: 260px;
}

#category .card-type-5 figcaption a {
	height: auto !important;
}

.video.tab .tab-content-slide li a:nth-of-type(1) img {
	display: block;
	width: 100%;
}

.video.tab-type-2 .tab-content-slide li a:nth-of-type(2) h2.title {
	height: 44px;
	overflow: hidden;
	box-sizing: border-box;
}

.video.tab .tab-content-slide li a:nth-of-type(2),
#category .video.tab-type-2 .tab-content-slide li a:nth-of-type(2),
#category li figcaption a {
	padding: 10px 0;
}

.video.tab .tab-content-slide li a:nth-of-type(2),
.video.tab .tab-content-slide li:nth-of-type(1) figcaption a,
#category .card-type-5 figcaption a {
	border-top: 1px solid rgba(150, 150, 150, 0.1);
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	box-sizing: border-box;
}

.video.tab .tab-content-slide li a:nth-of-type(2) *,
.video.tab .tab-content-slide li:nth-of-type(1) figcaption a {
	margin: 0;
	padding: 0 10px;
}


.video.tab .tab-content-slide li:nth-of-type(1) figcaption a * {
	margin: 2.5% 0;
}


#category .video.tab .tab-content-slide li:nth-of-type(1) figcaption a * {
	margin: 0;
}

.video .card a.play {
	position: relative;
	height: 200px;
	overflow: hidden;
}

.video .card a.play:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.video .card a.play:after,
#category .w-70 li a.play:after {
	content: '';
	display: block;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -11.5%;
	/*transform: translate3d(-50%, -50%, 0);*/
	width: 64px;
	height: 64px;
	background: url(../images/sprites.png) no-repeat;
	background-size: 970px 470px;
	background-position: -5px -85px;
	z-index: 2;
}

.video li:nth-of-type(1) a.play:after {
	width: 125px;
	height: 125px;
	background-size: 1640px;
	background-position: 0px -135px;
	top: 35%;
	margin-left: -9.5%;
}

.video .card.card-type-1 a.play:after,
#category .w-30 .video li:nth-of-type(1) a.play:after {
	width: 32px;
	height: 32px;
	background-size: 485px;
	background-position: -2.5px -43px;
}

.video .features li:nth-of-type(1) .card-type-5 a.play:after {
	width: 120px;
	height: 120px;
	background-size: 1550px; /* default 1940px */
	background-position: -5px -135px;
}

/* slide category */
#category .card-type-6 .wrapper a:nth-of-type(2) {
	padding: 10px;
	box-sizing: border-box;
}

#category .card-type-6 .wrapper a:nth-of-type(2) {
	width: 100%;
}

.card-type-5 figcaption * {
	color: #333;
}

#category > h1 {
	font-size: 36px;
	margin: 1.5% 0;
}

#category .tags h1 {
	margin: 0 0 1.5%;
}

#category .tags h3 {
	font-size: 12px;
}

#category .w-50:nth-of-type(1) .wrapper {
	padding-left: 0;
}

#category .w-50:nth-of-type(2) .wrapper {
	padding-right: 0;
}

#category .w-50:nth-of-type(1) .wrapper,
#category .w-70 .w-50:nth-of-type(1) .wrapper {
	padding-right: 0;
}

#category .w-50:nth-of-type(2) .wrapper {
	padding-left: 10px;
}

#category .card-type-5 h2,
#category .card-type-6 h2.title {
	font-size: 16px;
	line-height: 22px;
	height: 70px;
	overflow: hidden;
	color: #333;
	padding: 0 10px;
}

#category section:nth-of-type(1) .card-type-5 h2 {
	font-size: 20px;
	line-height: 26px;
	height: 82px;
}

#category section .row {
	margin-bottom: 10px;
}

.tab#category .features figcaption a h2.title {
	margin: 2% 0;
}

#category section#section-4 {
	margin: 10px 0 20px;
	background: #f7f8f9;
}

#category section .foto-home h1,
#gallery section .foto-home h1 {
	color: #fff;
}

#category article.swiper-slide {
	background: #fff;
}

#category .category-headline .swiper-wrapper {
	padding-top: 2.5%;
	/*-webkit-transform: translate3d(165.375px, 0px, 0px) !important;
	transform: translate3d(165.375px, 0px, 0px) !important;*/
}

#category .card-type-6 .wrapper {
	padding: 0;
}

#category .card-type-6 span.time {
	color: #555;
}

#category section .foto-home .container-desktop {
	margin-bottom: 30px;
}

#category #section-4 .brightcove.wrapper {
	padding: 0;
	margin-top: 30px;
	width: 728px;
	height: 405px;
	position: relative;
}

#category #section-4 .w-30 {
	margin-top: 30px;
}

#category #section-4 .sub-head .w-30 {
	margin: 0;
}

#category .swiper-button-white {
	background-color: rgba(0,0,0,0.5);
	padding: 1.5% 0;
}

#category .swiper-button-next.swiper-button-white {
	padding-left: 3em;
	right: 2%;
}

#category .swiper-button-prev.swiper-button-white {
	padding-right: 3em;
	left: 2%;
}

#category.index h1 {
	margin: 0.5em 0 1em;
}

#category.tags h1 {
	margin-bottom: 1em;
}

.bc-player-HJWXWi5XxW_default,
.brightcove iframe {
	width: 728px;
	height: 405px;
}

.r3 .rectangle,
.widget .wrapper {
	border-top: 1px solid #e53935;
}

/* terpopuler */
.terpopuler.list .card-type-1 a:nth-of-type(2) {
	width: 75%;
}

.terpopuler.list .card-type-1 a:nth-of-type(2) * {
	padding-left: 5%;
}

.terpopuler.list .card-type-1 a:nth-of-type(1) {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	border: 1px solid #e53935;
	color: #e53935;
	font-size: 24px;
	text-align: center;
	line-height: 48px;
	margin-top: 3px;
}

.terpopuler .card-type-1 a:nth-of-type(2) h2.title {
	color: #555;
}

.terpopuler.list .card-type-1 a:nth-of-type(2) span {
	color: #aaa;
	margin-top: 2%;
}
/* end terpopuler */

/* widget */
.widget-article .wrapper a:nth-of-type(1) {
	display: block;
	height: 210px; /* default 250px */
	overflow: hidden;
	margin-top: 10px;
	position: relative;
}

.widget-article h2 {
	color: #333;
	display: inline-block;
	font-size: 16px;
	margin: 5px 0 10px;
}

.widget-article p {
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	margin: 10px 0;
}

/* article */

#article .w-70 .wrapper {
	padding: 0;
}

nav.breadcrumbs li {
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

nav.breadcrumbs li:first-child {
	margin-left: 0;
}

nav.breadcrumbs li a:after {
	content: '';
	background-size: 8px 8px;
	width: 8px;
	height: 8px;
	position: absolute;
	right: -5px;
	top: 5px;
}

nav.breadcrumbs li:last-child a:after {
	content: none;
}

nav.breadcrumbs li a {
	color: #000;
	display: block;
	font-family: 'RobotoDraft', Helvetica, Arial;
	font-size: 12px;
	line-height: 17px;
	position: relative;
	padding-right: 20px;
	text-transform: uppercase;
}

section hr {
	margin: 5% auto;
}

article h1 {
	display: inline-block;
	font-weight: 500;
	margin: 2% 0 1%;
}

article .sub-head {
	margin: 10px 0;
}

article .sub-head .author *,
article .sub-head span {
	display: inline-block;
}

article .sub-head:nth-of-type(1) a.pw-widget.__pw-padding-true.__pw-layout-horizontal .pw-button:last-child {
	padding-right: 0;
}

.w-70 .author:nth-of-type(2) {
	padding: 1em 0;
}

article > .author {
	margin: 10px 0;
	padding: 2% 0 3%;
}

#gallery .author {
	margin: 5px 0 10px;
}

.author h4 {
	margin-left: 5px;
	font-size: 14px;
	color: #e53935;
}

.author p {
	font-size: 12px;
}

.author li,
.author li a {
	display: inline-block;
}

.author li a {
	width: 48px;
	height: 48px;
	overflow: hidden;
	border-radius: 50%;
}

article > figure:nth-of-type(1) a:nth-of-type(1) {
	display: block;
	width: 728px;
	height: 405px;
	overflow: hidden;
}

article figure figcaption {
	margin: 10px 0;
}

article figure figcaption p {
	color: #777;
	font-size: 11px;
	font-style: italic;
}

article > p a {
	color: #00b0ff;
}

article > p {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 22px;
	margin: 1em 0;
}

article > strong {
	font-weight: 500;
}

article > p em {
	font-style: italic;
	margin-right: 2px;
}

article > ol,
article > ul {
	margin: 1em 1em 1em 2em;
}

article > ul li {
	list-style: disc;
}

article > ol li {
	list-style: decimal;
}

article > h2,
article > h3,
article > h4,
article > h5,
article > h6 {
	display: block;
	margin: 1em 0;
}

article p iframe,
article iframe.instagram-media,
article twitterwidget {
	display: block;
	margin: auto !important;
}

.baca-juga {
	border: 1px solid #e53935;
	margin: 1em;
	padding: 1em;
	position: relative;
}

.baca-juga h3 {
	background: #fbfbfb;
	display: block;
	font-size: 18px;
	margin: -28px auto 0;
	padding: 0 5px;
	text-align: center;
}

.baca-juga li {
	margin: 1em 0;
}

.baca-juga li:last-child {
	margin: 0;
}

.baca-juga li a {
	color: #e53935;
}

/* tags */
.tags {
	margin: 1em 0;
}

.tags > li {
	display: inline-block;
	margin-bottom: 4px;
}

.tags > li a {
	background: #00b0ff;
	color: #fff;
	display: block;
	font-size: 12px;
	line-height: 12px;
	padding: 10px 20px;
}
/* end tags */

/* comments */
.comments {
	margin-bottom: 30px;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}

.comments-count * {
	display: inline-block;
}
/* end comments */
nav.pagination {
	margin: 40px 0;
	text-align: center;
}

nav.pagination li {
	list-style: none;
	display: inline-block;
}

nav.pagination li a {
	color: #111;
	padding: 10px 15px;
}

nav.pagination li a:hover,
nav.pagination li a.active {
	background: #e53935;
	color: #fff;
	padding: 10px 15px;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.2s ease-in;
}

/* end article */

footer {
	height: 340px;
	box-sizing: border-box;
	background: #000;
}

footer .wrapper {
	padding: 30px 20px;
}

footer .logo-tempo {
	width: 200px;
	height: 40px;
	background-size: 470px;
	background-position: -230px 0;
}

footer nav li {
	margin-bottom: 10px;
}

footer nav li a {
	color: #fff;
	font-size: 11px;
	letter-spacing: 0.01em;
}

footer hr {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
	margin: 20px 0;
}

footer p {
	text-align: center;
	font-size: 10px;
	color: #ccc;
}

footer .swiper-button-next {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin-right: 5%;
}

footer .social-media {
	margin: 0 auto;
}

.social-media {
	position: relative;
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 20px 0;
}

.social-media li {
	display: inline-block;
}

.social-media a {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
	background-size: 420px;
}

.social-media .facebook {
	background-position: -32px -34px;
}

.social-media .instagram {
	background-position: -95px -34px;
}

.social-media .twitter {
	background-position: -128px -34px;
}

.social-media .whatsapp {
	background-position: -160px -34px;
}

.social-media .line {
	background-position: -190px -34px;
}

.social-media .youtube {
	background-position: -222px -34px;
}

@media screen and (min-width: 801px) and (max-width: 1064px){
	.container-desktop,
	.ads.billboard {
		width: 100%;
	}

	.w-70,
	main section > .w-70 {
		width: 64%;
		padding-left: 10px;
		box-sizing: border-box;
	}

	.w-30 {
		width: 33%;
	}

	.header-top span {
		padding-left: 20px;
	}

	.logo-tempo {
		margin-left: 5%;
	}

	.header-main .w-50:nth-of-type(1) {
		width: 40%;
	}

	.menu li {
		padding: 0 6px;
		margin: 0 6px;
	}

	.menu li a {
		font-size: 9px;
	}

	.menu li:nth-of-type(1) {
		padding-left: 20px;
	}

	#headline.swiper-container.headline-mobile-terbaru .swiper-slide:nth-of-type(1) {
		height: 277px;
	}

	#headline.swiper-container.headline-mobile-terbaru .swiper-slide {
		height: auto;
	}

	.newsflash {
		padding-right: 20px;
	}

	.tab .tab-pagination .col:last-child > li {
		margin: 0 6px;
	}

	#section-3 .col:first-child .wrapper {
		padding-left: 10px;
	}

	#section-3 .col li a:nth-of-type(1) {
		width: 80px;
		height: 80px;
	}
}
